<header class="bg-opacity50 white">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <img src="src/img/menu.png" class="burger"/> <!-- le svg contenait en base 64, j'ai donc utilisé le png -->
                    <img src="src/img/close.png" class="close"/>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="">LE COTÉ LUMINEUX</a></li>
                    <li><a href="">LE COTÉ OBSCUR</a></li>
                    <li><a href="">L’EMPIRE LES DROÏDES</a></li>
                    <li><a href="#">LES EWOKS JABBA LE HUTT</a></li>
                </ul>
            </div>
    </nav>
</header>