[class^="parralax"]{
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
}
.parralax-1{
  background: url(/src/img/header-bg.png)  no-repeat;
  background-size:cover;
  z-index: -1;
}
.parralax-2{
  background: url(/src/img/logo.png) 50% 50% no-repeat;
}
.body-parralax{
  background:  url(/src/img/header-bg.png) top center no-repeat fixed;
  background-size: cover;
  height: 600px;
  overflow: hidden;
}
.padding{
  &-container{
    padding: 5%;
  }
  &-text{
    padding: 0%;
  }
}
.width-100{
  width: 100%;
}
h2{
  &.text-little{
    font-size: 1.9rem;
  }
}
