.bg{
  &-white{
    background-color: white;
  }
  &-opacity50{
    background: rgba(0,0,0,0.5);
  }
  &-white{
    color:white;
  }
}
b{
  font-weight: 400;
  @media all(min-width: 1080px) {
    font-weight: 900;
  }
  font-style: italic;
}
.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
}
nav{
  position: fixed;
  top:0;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  transition: 0.7s all linear;
  height: 100%;
}
*{
  text-align:justify ;
}