[class^="parralax"]{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
}
.parralax-1{
  background: url(/src/img/bubbles1.png) 5% 50% no-repeat;

}
.parralax-2{
   background: url(/src/img/bubbles3.png) 95% 90% no-repeat;
}
.body{
  background: navy url(/src/img/deepsea.jpg) top center no-repeat fixed;
  background-size: cover;
  height: 2000px;
}