.bg{
  &-white{
    background-color: white;
    position: relative;
    z-index: 2;
  }
  &-opacity50{
    background: rgba(0,0,0,0.5);
  }
}

.white{
  color:white;
}
.grey{
  color: #9d9d9d;
  font-weight: 400;
}
b{
  font-weight: 400;
  @media(min-width: 780px) {
    font-weight: 900;

  }
  font-style: italic;
}

body>header{
  position: fixed !important;
  top: 0 !important;
  left: 0!important;
  right: 0!important;
  z-index: 100;
}
.navbar-inverse {
  background: rgba(0, 0, 0, 0.5) !important;
  margin: 0 !important;
  border: none;
}
*{
  font-size: 1.85rem;
}
p{
  padding-top: 3%;
}
footer{
  background: url(/src/img/darthvader.jpg) no-repeat;
  background-size: cover;
  & *{
    line-height: 43px;
  }
  & > header{
    padding:2%;
  }
}
.underline{
  &, &>a{
  font-weight: 300;
  font-size: 1.65rem;
  }
  &>a{
    text-decoration: underline;
  }
}
h3{
  font-weight: 300 !important;
  font-size: 1.65rem !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}