.bg{
  &-white{
    background-color: white;
    position: relative;
    z-index: 2;
  }
  &-opacity50{
    background: rgba(0,0,0,0.5);
  }
}

.white{
  color:white;
}
b{
  font-weight: 400;
  @media(min-width: 780px) {
    font-weight: 900;

  }
  font-style: italic;
}

body>header{
  position: fixed !important;
  top: 0 !important;
  left: 0!important;
  right: 0!important;
  z-index: 100;
}
.navbar-inverse {
  background: rgba(0, 0, 0, 0.5) !important;
  margin: 0 !important;
  border: none;
}
*{
  text-align:justify ;
}
footer{
  background: url(/src/img/darthvader.jpg) no-repeat;
  background-size: cover;
}