<section class="bg-white padding-container font-size-18">
    <article class="col-xs-12 col-sm-5 col-sm-offset-1">
        <h2 class="text-little">
            Star Wars, The Force Awakens
        </h2>
        <div>
            <p>Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du « Premier Ordre ».</p>
            <p>Un mystérieux guerrier, Kylo Ren, semble vouer un culte à <b>Dark Vador</b> et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.</p>
            <p>Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la <b>« Résistance »</b>, combattent les vestiges de l'Empire réunis sous la bannière du <b>« Premier Ordre »</b>.</p>
            <p>Un mystérieux guerrier, Kylo Ren, semble vouer un culte à <b>Dark Vador</b> et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.</p>
            <p>Plus de 30 ans après la bataille d'Endor, la galaxie n'en a pas fini avec la tyrannie et l’oppression. Les membres de l'Alliance rebelle, devenus la « Résistance », combattent les vestiges de l'Empire réunis sous la bannière du <b>« Premier Ordre »</b>.</p>
            <p>Un mystérieux guerrier, Kylo Ren, semble vouer un culte à Dark Vador et pourchasse les ennemis du Premier Ordre à travers la galaxie. Au même moment, une jeune femme nommée Rey, pilleuse d'épaves sur la planète désertique Jakku, va faire la rencontre de Finn, un Stormtrooper en fuite, une rencontre qui bouleversera sa vie.</p>
        </div>
    </article>
    <figure class="hidden-xs col-sm-5 col-sm-offset-1">
        <img src="src/img/adx.jpg" alt="" style="display:block">
    </figure>
    <div class="clearfix"></div>
</section>